@font-face {
  font-family: "iconfont"; /* Project id 3412011 */
  src: url('iconfont.woff2?t=1652880923242') format('woff2'),
       url('iconfont.woff?t=1652880923242') format('woff'),
       url('iconfont.ttf?t=1652880923242') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bussiness-man:before {
  content: "\e6ef";
}

.icon-similar-product:before {
  content: "\e707";
}

.icon-bags:before {
  content: "\e745";
}

.icon-calculator:before {
  content: "\e746";
}

.icon-feeds:before {
  content: "\e751";
}

