/*全局样式表*/
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.box-card {
    margin-top: 12px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table {
    margin-top: 15px;
    font-size: 13px;
}
.el-pagination {
    margin-top: 15px;
}
.el-cascader {
    width: 100%;
}
.el-step__title {
    font-size: 13px;
}
.ql-editor {
    min-height: 300px;
}
